.menu-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: 1em;
    text-transform: uppercase;
    text-indent: 1em;
}

.menu-title::after {
    content: "";
    display: block;
    width: 400px;
    height: 30px;
    background-image: url("decorative-line.svg");
    margin: 48px auto 80px;
}